.contactsBlock {
    height: 100vh;
    background-color: #114452;
}

.contactsContainer {
    flex-direction: column;
}



.contactsContainer input {
    margin-bottom: 20px;
    padding: 20px;
}

.formBlock {
    width: 280px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 10px;
    padding: 15px 40px;
    background-color: #49c485;
    border: none;
    cursor: pointer;
}