@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/button/Button.module';

.contactsBlock {
    padding: $paddingMain;
    background-color: $bgSecondColor;
    .contactsContainer {
        display: flex;
        flex-direction: column;
        .formBlock {
            max-width: 540px;
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            & input {
                background: #2a2a2c;
                border: 1px solid #4a4a4a;
                padding: .4rem 15px;
                border-radius: 0;
                height: calc(1.5em + 0.75rem + 2px);
                margin-bottom: 1rem;
                outline: 0;
                &:focus {
                    border: 1px solid transparent;
                    transition: all 0.4s ease-in-out 0s;
                }


                @include text($textFontFamily, 12px, 1.8, 400);
                color: #605f5f;
                &:focus {
                    border: none;
                }

            }
            & textarea {
                outline: none;
                height: auto;
                background: $bgSecondColor;
                border: 1px solid #4a4a4a;
                font-size: 12px;
                padding: 15px;
                border-radius: 0;
                @include text($textFontFamily, 12px, 1.8, 400);
                color: #605f5f;
                margin-bottom: 1.2rem;
                &:-webkit-autofill {
                    border: 1px solid #4a4a4a;
                    -webkit-text-fill-color: #495057;
                    -webkit-box-shadow: 0 0 0 1000px #252527 inset;
                    transition: background-color 5000s ease-in-out 0s;
                    &:focus {
                        border: 2px solid $bgSecondColor;
                    }
                }
            }
            button[type='submit'] {
                @extend .btn;
                align-self: center;
                background-color: transparent;
                margin-top: 30px;
            }
        }

    }
}








