.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}

/*.container {*/
/*    width: 100%;*/
/*    max-width: 1230px;*/
/*    padding: 0 15px;*/
/*    margin: 0 auto;*/
/*}*/