@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';
.work {
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: $bgSecondColor;
    .imgBlock {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include imageSetting;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 0; /* Начальная прозрачность */
            transition: opacity 0.3s;
        }
        & img {
            height: 400px;
            width: 100%;
        }
        .workButton {
            color: $textColor;
            background-color: #00000094;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            position: relative;
            z-index: 100;
            transition: 0.3s linear;
            &:hover {
                background-color: $primaryColor;
            }
        }
    }
    .projectInfo {
        padding: 25px 20px;
        text-align: center;
        .title {
            @include text($titleFontFamily, 20px, 1.2);
            margin: 0 0 5px;
        }
        .description {
            @include text($textFontFamily, 14px, 1.8, 400);

        }
    }
}

.work .imgBlock:hover::before {
    opacity: 1; /* Показать затемнение при наведении */
}













