@import './../common/styles/sass/variables';

.nav {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & a {
        text-decoration: none;
        color: $textColor;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: $primaryColor;
        }
    }
    .active {
        color: $primaryColor;
    }
    @media screen and (max-width: 400px) {
        display: none;
    }
}
