.footerBlock {
    height: 100vh;
    background-color: #abfab4;
}


.footerContainer {
    display: flex;
    flex-direction: column;
}

.footerContainer h2 {
    margin-top: 100px;
    margin-bottom: 150px;
}

.iconBlock {
    display: flex;
}



.footerIcon {
    height: 60px;
    width: 60px;
    background-color: #4b4545;
}

.footerIcon:not(:last-child) {
    margin-right: 10px;
}